<%= form_with(url:'/partner/find', method: 'get') do |form| %>  
    
  <div class="form-text">  

    <div class="mb-3">
      <%= form.label :Qual_é_o_seu_nível?, class: "form-label" %>
      <%= form.select :level, ['Iniciante','Intermediário','Avançado'],{prompt: "-- Select One --"}, {class: "form-select", :required => true} %>    
    </div>

    <div class="mb-3">
      <%= form.label :Qual_é_o_centro_de_treinamento_da_sua_preferência?, class: "form-label"%>
      <%= form.select :train_center, ['Flamengo','Botafogo', 'Leme', 'Copacabana'],{prompt: "-- Select One --"}, {class: "form-select", :required => true} %>
    </div>

    <div class="mb-3">
      <%= form.label :qual_é_a_sua_posição_de_jogo?, class: "form-label" %>
      <%= form.select :player_role, ['Direita','Esquerda'],{prompt: "-- Select One --"}, {class: "form-select", :required => true} %>
    </div>
    
  </div> 

  <div id="text_button" class="actions">
    <%= form.submit "Encontrar o seu parceiro", class: "btn btn-dark" %>
  </div>   
    
  <%= link_to 'Voltar', new_player_path%>

<% end %>    