<%= form_with(model: player) do |form| %>
  <% if player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
        <% player.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-text">

    <div class="mb-3">
      <%= form.label :nome_completo, class: "form-label "%>
      <%= form.text_field :name, :required => true, class: "form-control", placeholder:"Digite seu o nome"%>
    </div>

    <div class="mb-3">
      <%= form.label :Gênero, class: "form-label" %>
      <%= form.select :gender, ['Feminino','Masculino'],{prompt: "-- Select One --"}, {class: "form-select", :required => true} %>
    </div>

    <div class="mb-3">
      <%= form.label :Idade, class: "form-label" %>
      <%= form.number_field :age, :required => true,  class: "form-control", placeholder:"Digite a sua idade" %>
    </div>

    <div class="mb-3">
      <%= form.label :Nível, class: "form-label" %>
      <%= form.select :level, ['Iniciante','Intermediário','Avançado'],{prompt: "-- Select One --"}, {class: "form-select", :required => true} %>    
    </div>

    <div class="mb-3">
      <%= form.label :centro_de_treinamento, class: "form-label" %>
      <%= form.select :train_center, ['Flamengo','Botafogo', 'Leme', 'Copacabana'],{prompt: "-- Select One --"}, {class: "form-select", :required => true} %>
    </div>

    <div class="mb-3">
      <%= form.label :posição_de_jogo, class: "form-label" %>
      <%= form.select :player_role, ['Direita','Esquerda'],{prompt: "-- Select One --"}, {class: "form-select", :required => true} %>
    </div>

    <div id="text_button" class="actions">
      <%= link_to 'Já tenho Cadastro', partner_path, {:style=>'color: white;', :class => "btn btn-dark"}%>
      <%= form.submit "Criar cadastro", class: "btn btn-dark" %>
    </div>
  
  </div>

  <%= link_to 'Voltar', root_path%>
  
<% end %>
